# =====================
#   VERİ DOSYALARI
# =====================

data/raw/fer2013.csv
data/processed/

# =====================
#   MODEL DOSYALARI
# =====================

models/*.h5
models/*.keras
models/*.pb

# =====================
#   PYTHON CACHE
# =====================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
#   VENV
# =====================

.venv/

# =====================
#   EDITOR FILES
# =====================

.vscode/
.idea/
